<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <title>Admin Panel</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('admin/vendors/mdi/css/materialdesignicons.min.css') }}" />
        <link rel="stylesheet" href="{{ asset("admin/vendors/flag-icon-css/css/flag-icon.min.css") }}" />
        <link rel="stylesheet" href="{{ asset('admin/vendors/css/vendor.bundle.base.css') }}" />
        <link rel="stylesheet" href="{{ asset('admin/vendors/font-awesome/css/font-awesome.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.css') }}" />
        <link rel="stylesheet" href="{{ asset('admin/css/style.css') }}" />
        <link rel="shortcut icon" href="{{ asset('admin/images/favicon.png') }}" />
    {% endblock %}
</head>
<body>
<div class="container-scroller">
    {% include 'adminTemplate/_side_menu.html.twig' %}
    <div class="container-fluid page-body-wrapper">
        {% include 'adminTemplate/_header.html.twig' %}
        <div class="main-panel">
            <div class="content-wrapper pb-0">
                <div class="page-header flex-wrap">
                    {% include 'adminTemplate/_flash_messages.html.twig' %}
                    {% block header %}
                    {% endblock %}
                </div>
                {% block content %}{% endblock %}
            </div>
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    {# TODO: adjust the date and make it dynamic #}
                    <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © 2022</span>
{#                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/" target="_blank">Bootstrap dashboard template</a> from Bootstrapdash.com</span>#}
                    <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Developed By Marc Medhat</span>
                </div>
            </footer>
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
{% block javascripts %}
    <!-- plugins:js -->
    <script src="{{ asset('admin/vendors/js/vendor.bundle.base.js') }}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{{ asset('admin/vendors/chart.js/Chart.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.categories.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.fillbetween.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.stack.js') }}"></script>
    <script src="{{ asset('admin/vendors/flot/jquery.flot.pie.js') }}"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{{ asset('admin/js/off-canvas.js') }}"></script>
    <script src="{{ asset('admin/js/hoverable-collapse.js') }}"></script>
    <script src="{{ asset('admin/js/misc.js') }}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{{ asset('admin/js/dashboard.js') }}"></script>
    <!-- End custom js for this page -->
{% endblock %}
</body>
</html>